Package: com.jerrytian.shortlook.plugin.contact-photo.qq
Name: QQ Profile Pictures for ShortLook
Depends: mobilesubstrate, shortlook.xina2
Version: 1.0.1
Architecture: iphoneos-arm
Description: 当您收到QQ/TIM通知时，在ShortLook中显示QQ/TIM用户的头像!
Maintainer: Jianan Tian
Author: Jianan Tian
Section: Tweaks (ShortLook)
